<%- include("./partials/header") %>
<body>
    <!-- '<nav>
        <a href="/"> <h1>tilbake</h1></a>
        <div class="links">
            <a href="../guide">guide</a>
            <a href="/login">logg inn</a>
        </div>
    </nav>' -->
    <!-- <div class="topish">
        <div class="top">
            <a href="/"><h1>tilbake</h1></a>
            <a href="">logg ut</a>
        </div>
        <div class="test2">
            <div class="background2">
                <p>e</p>
            </div>
        </div>
    </div> -->
    <%- include("./partials/dashborad_nav") %>
    <h1 class="midden">Dine Guides</h1>
    <div class="search-bar">
        <form action="/search" method="GET">
            <input type="text" name="query" class="search-input" placeholder="Search here" required>
        </form>
    </div>
    <div class="allebox">
        
        <% guides.forEach((guide, index) => { %>
            <a class="din" href="/guide/<%= guide.id %>">
                <div class="boxes"><%= guide.tittel %>
                
                    <% if (guide.bilde) { %>
                        <img src="/uploads/<%= guide.bilde[0] %>" alt="Bilde for <%= guide.tittel %>" class="bilden"/>
                    <% } %>
                </div>
            </a>
        <% }); %>
    </div>
    
    <!-- <% guides.forEach((guide) => { %>
        <div id="guide<%= guide.id %>" class="texton"> Unique ID for each guide -->
            <!-- <h2><%= guide.tittel %></h2> -->
            <!-- Legg til mer innhold for guiden her -->
        </div>
    <!-- <% }); %> --> 
</body>
</html>