<%- include("./partials/header") %>
<body>
    <%- include("./partials/nav") %>

    <div class="search-bar">
        <!-- Form for the search functionality -->
        <form action="/search" method="GET">
            <input type="text" name="query" class="search-input" placeholder="Search here" required>
        </form>
    </div>

    <div class="allebox">
        <% if (guides.length > 0) { %>
            <% guides.forEach((guide, index) => { %>
                <a class="din" href="/guide/<%= guide._id %>">
                    <div class="boxes"><%= guide.tittel %>
                    
                        <% if (guide.bilde) { %>
                            <img src="/uploads/<%= guide.bilde[0] %>" alt="Bilde for <%= guide.tittel %>" class="bilden"/>
                        <% } %>
                    </div>
                </a>
            <% }); %>
        <% } else { %>
         
        <% } %>
    </div>
    
        
</body>
</html>
